/* Установим стили для блока, в котором будет построен основной график;
Установим максимальную и минимальную ширину и положение на странице */
#container {
  min-width: 410px;
  max-width: 800px;
  height: 500px;
  margin: 100px 0 0 450px;
}
/* Установим  стили для блока с формами данных; 
Установим максимальную ширину, положение на странице, а так же значение полей для всех сторон блока */
.decor {
  max-width: 300px;
  margin: -640px 0 0 10px;
  padding: 50px;
}
/* Установим  стили для самих форм */
.form-inner input    {
  display: block;  /* Элемент опредилим как блок */
  width: 100%; /* Ширина элемента на всю длину блока */
  padding: 0 30px; /* Расстояние между сторонами самих данных и внутренним краем формы */
  margin-bottom: 20px; /* Расстояние между блоками */
  background: #E9EFF6; /* Задний фон форм*/
  line-height: 40px; /* Общая высота форм*/
  border-width: 0; /* Уберем видимость рамки форм*/
  border-radius: 20px; /* Сгладим границы форм*/
}
/* Установим стили для кнопок */
.form-inner input[type="submit"] {
  margin-top: 25px;   /* Положение на странице */
  margin-left: 20px; /* Положение на странице */
  background: #b366ff; /* Задний фон кнопки*/
  border-bottom: 4px solid #9933ff;  /* Установим цвет для нижней границы*/
  color: white; /* Установим цвет текста*/
  font-size: 16px; /* Установим размер шрифта*/
  cursor: pointer; /* Установим форму курсора при фокусе*/
}
/* Установим стили для заголовков */
.form-inner h3 {
  margin-top: 0; /* Положение на странице */
  font-family: 'Roboto', sans-serif;  /* Установим начертания шрифта*/
  font-weight: 500; /* Установим насыщенность шрифта*/
  font-size: 20px; /* Установим размер шрифта*/
  color: #5b6269; /* Установим цвет текста*/
}
/* Уберем стрелочки в элементе формы, мне не очень нравятся на внешний вид */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; 
}
/* Добавим немного адаптивности. 
Медиа-запрос автоматически распределит блоки на странице при разрешении экрана меньше установленного */
@media screen and (max-width: 950px) {
.decor{
  margin: auto;  
}
#container{
  margin: auto;  
}
}

 